body {
    margin: 0 auto;
    padding: 0;
    font-family: 'forum';
    font-size: 20px;
    color: #000;
    background-color:gray ;
    height: 100%;
}

*{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}
 a,h1,h2,h3,h4,h5,h6 {
    margin: 0;
 }
 p {
    margin: 0;
 }
ul,li {
    padding: 0;
    margin: 0;
}

/*/----------body----------*/


/*----------main----------*/

.container {
    max-width: 100%;
    width: 100%;
    max-height:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 95vw;
    width: 100%;
    height: 45vw;
    overflow: hidden;
    margin-top: 25px;
}

#slides {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
   
}

#overflow {
    width: 100%;
    height: 100%;
    transition: margin-left .5s ease-in-out;
}

#images {
    display: flex;
    width: 400%;
    height: 100%;
}


.img_inner {
    width: 25%;
    height: 70%;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    object-fit: fill;
}

/*nav*/
input {
position: absolute;
visibility: hidden;
}


.controls {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    display: flex;
    margin-top: -13% ;
    margin-left: 93%;
}

.btn {
    width:1.25rem;
    height: 1.25rem;
    border: 0.0625rem aqua solid ;
    background-color: aqua;
    border-radius: 100%;
    margin-left: 0.325rem;
    cursor: pointer;
    display: flex;
}


 #s1:checked ~ #slides #overflow{
   margin-left:0;
 }
 #s2:checked ~ #slides #overflow{
    margin-left:-100%;
 }
 #s3:checked ~ #slides #overflow {
    margin-left:-200%;
 }
 #s4:checked ~ #slides #overflow {
    margin-left:-300%;
 }

/*/nav*/

/*/----------main----------*/